<!DOCTYPE html>
<html lang="pt-br">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Cadastro</title>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>
	
	<body>
	    <div th:replace="~{menu :: menu}"></div>
	    
	    <div id="titulo">
	        <h3>Cadastro de Usuários</h3>
	    </div>
	
	    <div class="container" id="cadastro">
	        <div class="row">
	            <form class="col s12" id="interno" action="">
	                <div class="row">
	                    <div class="input-field col s12">
	                        <label class="inputName" for="nome">Nome</label><br>
	                        <input id="nome" type="text" class="validate">
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="input-field col s12">
	                        <label class="inputName" for="email">E-mail</label><br>
	                        <input id="email" type="email" class="validate">
	
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="input-field col s12">
	                        <label class="inputName" for="senha">Senha</label> <br>
	                        <input id="senha" type="password" class="validate">
	                    </div>
	                </div>
	                <button class="btn waves-effect waves-light" type="submit" id="botao">Cadastrar-se
	                    <i class="material-icons right"></i>
	                </button>
	            </form>
	        </div>
	    </div>
	</body>
</html>